p{
    font-size: 20px;
    font-weight: bold;
}
img{
    width: 300px;
    height: 250px;
}

.division1{
    background-color: #73f10b;
}
.division2{
    background-color: #ef0824;
}
.division3{
    background-color: yellow;
}
#main{
  background-color: burlywood;
    display: flex;
    padding-top: 30px;
}
.heading1{
    color: #ef0824;
}
.heading2{
    color: yellow;
}
.imageparagraph{
    display: flex;
    padding-left: 10px;
}